{% extends 'csv_app/base.html'%}
{% block content %}

<h1>Importar Arquivo CSV</h1>
{% if messages %}
    {% for message in messages %}
        <div>
            <strong>
                {{message|safe}}
            </strong>
        </div> 
    {% endfor %}
{% else %}
{{order}}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label></label>
    <input type="file" name="file">
    <p>Apenas arquivos com extensão ".csv"</p>
    <button type="submit">Enviar</button>
</form>
{% endif %}

{% endblock %}

